body, html {
    height: 100%;
}
#backgroundImg {
    background-image: url("../images/image.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.asdf {
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 500px;
    height: 300px;
    padding: 10px 20px;
    background-color: #ffffffb0;
    border-top-left-radius: 50px;
    box-shadow: -5px -5px 11px rgba(255, 255, 255, 0.445), -4px -4px 15px 0 rgba(255, 255, 255, 0.555);
}
